<footer>
    <p>&copy;
        {% year %}
        Edverts |
        <a href="/">Home</a>
        |
        <a href="mailto:info@edverts.com">info@edverts.com</a>
        |
        <a href="/tandc/">Terms and Conditions</a>
    </p>
</footer>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "32e543079ccc4be58ee0ce7566c0a864"}'></script>