<footer>
    <p>&copy;
        2024 
        Edverts |
        <a href="https://www.edverts.com">Home</a>
        |
        <a href="mailto:info@edverts.com">info@edverts.com</a>
        |
        <a href="tandc.html">Terms and Conditions</a>
        |        
        <a href="data-privacy.html">Data Privacy Policy</a>
    </p>
</footer>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "32e543079ccc4be58ee0ce7566c0a864"}'></script>